@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
/*@charset "UTF-8";*/
/* Base Styles */
#cssmenu,
#cssmenu ul,
#cssmenu li,
#cssmenu a {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    font-weight: normal;
    text-decoration: none;
    line-height: 1;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    position: relative;
}
/*
#cssmenu a {
  line-height: 1.3;
}*/
#cssmenu {
    width: 250px;
    background: #fff;
    padding: 3px;

}
#cssmenu > ul > li {
    margin: 0;
}

#cssmenu > ul > li:last-child {
    margin: 0;
}
#cssmenu > ul > li > a {
    font-size: 15px;
    display: block;
    color: #ffffff;
    text-shadow: 0 1.1px 0.3px #000;
    background: #376ea6;
    border-bottom: 1px solid #2d649c;
    border-top:1px solid #6299d1;

}
#cssmenu > ul > li > a:hover{background:#295e94 !important;}
#cssmenu > ul > li > a > span {
    display: block;
    padding: 7px 10px;
    font-weight: bold;
}
#cssmenu > ul > li > a:hover {
    text-decoration: none;
}
#cssmenu > ul > li.active {
    border-bottom: none;
}
#cssmenu > ul > li.active > a {
    background: #bfd255; /* Old browsers */
    background: -moz-linear-gradient(top,  #bfd255 0%, #72aa00 9%, #72aa00 92%, #9ecb2d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bfd255), color-stop(9%,#72aa00), color-stop(92%,#72aa00), color-stop(100%,#9ecb2d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #bfd255 0%,#72aa00 9%,#72aa00 92%,#9ecb2d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #bfd255 0%,#72aa00 9%,#72aa00 92%,#9ecb2d 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #bfd255 0%,#72aa00 9%,#72aa00 92%,#9ecb2d 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #bfd255 0%,#72aa00 9%,#72aa00 92%,#9ecb2d 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 ); /* IE6-9 */
    color: #fff;
    text-shadow: 0 1px 1px #000;
}
#cssmenu > ul > li.active > a span {

}
#cssmenu > ul > li.has-sub > a span {
    background: url(../images/icon_plus.png) 98% center no-repeat;
}
#cssmenu > ul > li.has-sub.active > a span {
    background: url(../images/icon_minus.png) 98% center no-repeat;
}
/* Sub menu */
#cssmenu ul ul {
    padding:0;
    display: none;
}
#cssmenu ul ul li {
    padding:0;
    margin:0;
}
#cssmenu ul ul a {
    display: block;
    color: #4a5339;
    font-size: 13px;
    background:#f3fbd2;
    padding:10px 0 10px 10px;
    border-top:1px solid #fff;
}
#cssmenu ul ul a:hover {
    color: #fff ;
    background:#326495 !important;
}
#cssmenu > ul > li:first-child > a{ border-radius:10px 10px 0 0; }

active {

    background: none repeat scroll 0 0 #000 !important;

    color: #fff !important;

}
